.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  overflow: hidden;
  width: 100%;
  top: 0;
  position: fixed;
}

nav h2 {
  margin: 0;
  flex-shrink: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  flex-grow: 1;
  justify-content: flex-end;
  overflow: hidden;

  
}

nav ul li {
  display: inline;
  margin-left: 2rem;
  overflow: hidden;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }

  nav ul li {
    margin-left: 1rem; /* Reduce space between list items */
  }
}